.userpage-container {
    max-width: 35%;
    height: 95vh;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 25px;
    background-color: #fff;
}

.user-details {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-icon {
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 4rem;
    color: #33ffe4;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details-display {
    width: 100%;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 1rem;
}

.details-display p {
    margin: .7rem 0;
    padding: .6rem;
    border-radius: 10px;
    background: #fff;
}

.details-display p:hover {
    background: #33ffe4;
}

.edit-form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 15px;
    margin: 10px 0;
}

.edit-form input,
.edit-form select {
    width: 100%;
    padding: .7rem;
    margin: 0 0 .5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input:focus,
select:focus {
    border-color: #007bff;
}

.edit-button,
.save-button,
.attempt-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover,
.save-button:hover,
.attempt-button:hover {
    background-color: #0056b3;
}

.attempt-button{
    margin-left: 1.5rem;
}

.link {
    border: 0;
    padding: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.popup p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
}

.popup-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.popup-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
    background-color: #0056b3;
}

.chart-container{
    width: 100%;
}

.severity-chart-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chart-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.control-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.control-btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.chart {
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .userpage-container {
        min-width: 100%;
        height: 100vh;
        margin: 0;
    }
}