* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
  overflow: hidden;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3cf;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo:hover {
  color: #0086d4;
  transform: scale(1.1);
  cursor: pointer;
}

.links {
  color: #3cf;
  text-decoration: none;
}

.links:hover {
  border-bottom: 3px solid rgb(51, 129, 255);
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #3cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.1);
}

.navbar .left {
  width: 40%;
  display: flex;
  justify-content: center;
}

.navbar .right {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}